<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.cachina.app.contacs" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Contacts</name>
    <description>
        Exemplo Contatos
    </description>
    <author email="mayroncachina@gmail.com" href="http://cachina.com.br">
        Mayron Cachina
    </author>
    <access origin="*"/> 

    <preference name="permissions" value="INTERNET" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />

    <gap:plugin name="org.apache.cordova.contacts" version="0.2.9" />

</widget>